<div ng-controller="LeftMenuController" class="leftpanelinner">

    <!-- This is only visible to small devices -->
    <div class="visible-xs hidden-sm hidden-md hidden-lg">
        <div class="media userlogged">
            <img alt="" src="brackets/images/photos/loggeduser.png" class="media-object">

            <div class="media-body">
                <h4>Testes Logos</h4>
                <span>"Apenas testes..."</span>
            </div>
        </div>

        <h5 class="sidebartitle actitle">Conta</h5>
        <ul class="nav nav-pills nav-stacked nav-bracket mb30">
            <li><a href="brackets/profile.html"><i class="fa fa-user"></i> <span>Perfil</span></a></li>
            <li><a href="brackets/"><i class="fa fa-cog"></i> <span>Configurações da conta</span></a></li>
            <li><a href="brackets/"><i class="fa fa-question-circle"></i> <span>Ajuda</span></a></li>
            <li><a href="brackets/signout.html"><i class="fa fa-sign-out"></i> <span>Sair</span></a></li>
        </ul>
    </div>

    <h5 ng-show="strings.navigation" class="sidebartitle">{{strings.navigation}}</h5>
    <ul class="nav nav-pills nav-stacked nav-bracket">
        <li ng-repeat="menuItem in menuItems" class="{{menuItem.subItems.length > 0 ? 'nav-parent' : null}}">
            <a href="/admin{{menuItem.url}}"><i class="fa {{menuItem.icon}}"></i><span>{{menuItem.title}}</span></a>
            <ul class="children" ng-if="menuItem.subItems.length > 0">
                <li ng-repeat="subMenuItem in menuItem.subItems">
                    <a href="/admin{{subMenuItem.url}}">
                        <i class="fa {{subMenuItem.icon}}"></i><span>{{subMenuItem.title}}</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</div>
<script src="/javascripts/angular/controllers/LeftMenuController.js"></script>
<!-- leftpanelinner -->