<script type="text/javascript">
    window.mailbox = JSON.parse('<%= JSON.stringify(mailbox)%>');
</script>
<script type="text/javascript" src="/javascripts/angular/controllers/MailInboxController.js"></script>
<div class="row" data-ng-controller="MailInboxController">
    <div class="col-sm-3 col-lg-2">
        <a data-ng-click="composeMail();" class="btn btn-primary btn-block btn-compose-email">{{commonStrings.mail.compose}}</a>

        <ul class="nav nav-pills nav-stacked nav-email">
            <li data-ng-repeat="sf in mailbox.systemFolders" data-ng-class="{active: mailbox.currentFolder == sf}">
                <a data-ng-click="openFolder(sf);">
                    <span ng-if="sf.unreadCount > 0" class="badge pull-right">{{sf.unreadCount}}</span>
                    <i class="glyphicon glyphicon-{{sf.icon}}"></i> {{sf.title}}
                </a>
            </li>
        </ul>

        <div class="mb30"></div>
        <div data-ng-if="mailbox.userFolders && mailbox.userFolders.length > 0">
            <h5 class="subtitle">{{commonStrings.folders}}</h5>
            <ul class="nav nav-pills nav-stacked nav-email mb20">
                <li data-ng-repeat="f in mailbox.userFolders" data-ng-class="{active: mailbox.currentFolder == f}">
                    <a data-ng-click="openFolder(f);">
                        <span ng-if="f.unreadCount > 0" class="badge pull-right">{{f.unreadCount}}</span>
                        <i class="glyphicon glyphicon-{{f.icon}}"></i> {{f.title}}
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <!-- col-sm-3 -->

    <div class="col-sm-9 col-lg-10">

        <div class="panel panel-default">
            <div class="panel-body">

                <div class="pull-right">
                    <div class="btn-group mr10">
                        <button class="btn btn-sm btn-white tooltips" data-ng-click="archive();" type="button" data-toggle="tooltip" title="{{commonStrings.archive}}"><i class="glyphicon glyphicon-hdd"></i>
                        </button>
                        <button class="btn btn-sm btn-white tooltips" data-ng-click="reportSpam();" type="button" data-toggle="tooltip" title="{{commonStrings.mail.reportSpam}}"><i class="glyphicon glyphicon-exclamation-sign"></i>
                        </button>
                        <button class="btn btn-sm btn-white tooltips" data-ng-click="trash();" type="button" data-toggle="tooltip" title="{{commonStrings.delete}}"><i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </div>

                    <div class="btn-group mr10">
                        <div class="btn-group nomargin">
                            <button data-toggle="dropdown" class="btn btn-sm btn-white dropdown-toggle tooltips" type="button" title="{{commonStrings.mail.moveToFolder}}">
                                <i class="glyphicon glyphicon-folder-close mr5"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li data-ng-repeat="uf in mailbox.userFolders">
                                    <a data-ng-click="moveToFolder(uf);">
                                        <i class="glyphicon glyphicon-folder-open mr5"></i> {{f.title}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group nomargin">
                            <button data-toggle="dropdown" class="btn btn-sm btn-white dropdown-toggle tooltips" type="button" title="{{commonStrings.mail.tag}}">
                                <i class="glyphicon glyphicon-tag mr5"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li data-ng-repeat="t in mailbox.userTags">
                                    <a data-ng-click="tag(t);">
                                        <i class="glyphicon glyphicon-tag mr5"></i> {{t.title}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="btn-group">
                        <button data-ng-click="previousPage();" class="btn btn-sm btn-white" type="button"><i class="glyphicon glyphicon-chevron-left"></i>
                        </button>
                        <button data-ng-click="nextPage();" class="btn btn-sm btn-white" type="button"><i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
                <!-- pull-right -->

                <h5 class="subtitle mb5">{{commonStrings.mail.inbox}}</h5>
                <p class="text-muted">{{commonStrings.showing}} {{mailbox.page.min}} - {{mailbox.page.max}} {{commonStrings.of.toLowerCase()}} {{mailbox.page.total}} {{commonStrings.messages.toLowerCase()}}</p>

                <div class="table-responsive">
                    <table class="table table-email">
                        <tbody>
                            <tr data-ng-repeat="m in mailbox.page.mails" data-ng-class="{unread: m.unread == true}">
                                <td>
                                    <div class="ckbox ckbox-success">
                                        <input type="checkbox" id="{{m.key.replace('.json','')}}">
                                        <label for="{{m.key.replace('.json','')}}"></label>
                                    </div>
                                </td>
                                <td>
                                    <a data-ng-click="star(m);" class="star"><i class="glyphicon glyphicon-star"></i></a>
                                </td>
                                <td>
                                    <div class="media">
                                        <!--<a href="#" class="pull-left">-->
                                            <!--<img alt="" src="{{m.}}" class="media-object">-->
                                        <!--</a>-->
                                        <div class="media-body">
                                            <span class="media-meta pull-right">{{m.date | date :'short'}}</span>
                                            <h4 class="text-primary">{{m.from.replace('<','').replace('>','')}}</h4>
                                            <small class="text-muted"></small>
                                            <p class="email-summary">{{m.subject}}</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- table-responsive -->

            </div>
            <!-- panel-body -->
        </div>
        <!-- panel -->

    </div>
    <!-- col-sm-9 -->

</div>
<!-- row -->