<div class="col-sm-3 col-lg-2">
    <a data-ng-click="composeMail();" class="btn btn-primary btn-block btn-compose-email">{{commonStrings.mail.compose}}</a>

    <ul class="nav nav-pills nav-stacked nav-email">
        <li data-ng-repeat="sf in mailbox.folders.slice(0,3)" data-ng-class="{active: mailbox.currentFolder == sf}">
            <a data-ng-click="openFolder(sf);">
                <span ng-if="sf.unreadCount > 0" class="badge pull-right">{{sf.unreadCount}}</span>
                <i class="glyphicon glyphicon-{{sf.icon}}"></i> {{sf.title}}
            </a>
        </li>
    </ul>

    <div class="mb30"></div>
    <div data-ng-if="mailbox.folders && mailbox.folders.slice(3).length > 0">
        <h5 class="subtitle">{{commonStrings.folders}}</h5>
        <ul class="nav nav-pills nav-stacked nav-email mb20">
            <li data-ng-repeat="f in mailbox.folders.slice(3)" data-ng-class="{active: mailbox.currentFolder == f}">
                <a data-ng-click="openFolder(f);">
                    <span ng-if="f.unreadCount > 0" class="badge pull-right">{{f.unreadCount}}</span>
                    <i class="glyphicon glyphicon-{{f.icon}}"></i> {{f.title}}
                </a>
            </li>
        </ul>
    </div>

</div>
<!-- col-sm-3 -->