<form id="frmNewUser" name="frmNewUser" class="form-horizontal">
    <div class="row">
        <div class="col-md-6">
                <luzpanel id="pnlNewUser" title="{{currentPage.pnlNewUser.title}}" description="{{currentPage.pnlNewUser.description}}" canclose="false" canminimize="true">
                    <div cs-section="body">
                        <luzinput type="text" id="inputTeste" ng-model="panels.pnlTeste.title" label-text="Título teste qualquer" label-grid-size="6" input-grid-size="6" luz-validation-required="true" />
                    </div>
                    <div cs-section="footer">
                        Teste footer.
                    </div>
                </luzpanel>

        </div>
        <!-- col-md-6 -->
    </div><!-- row -->
</form>