<div class="row">
    <div class="col-md-12">
        <form id="frmNovaPessoa" name="frmNovaPessoa" class="form-horizontal">
            <luzpanel id="pnlTeste" title="Teste" description="Painel de exemplo para demonstração do componente via AngularJS" canclose="true" canminimize="true">
                <div cs-section="body">
                    <luzinput type="text" id="inputTeste" ng-model="panels.pnlTeste.title" label-text="Título teste qualquer" label-grid-size="2" input-grid-size="10" luz-validation-required="true" luz-validation-required-msg="Campo teste é obrigatório." />
                </div>
                <div cs-section="footer">
                    Teste footer.
                </div>
            </luzpanel>
        </form>
    </div>
    <!-- col-md-6 -->
</div><!-- row -->

<script type="text/javascript">
   /* $(document).ready(function(){
        $.ajax({
            url:'/admin/mailbox/create',
            method: 'POST',
            data: { userId: '<%= req.user.id %>'},
            success: function(r){
            }
        });
    });*/
</script>