#menu-navigation li a:before,
#menu-navigation > li.active > a:before,
#menu-navigation > li a:hover,
#menu-navigation li ul li:hover,
.ls-defaultskin .ls-nav-prev:hover,
.ls-defaultskin .ls-nav-next:hover,
.message-box-title,
.submit-btn,
.donate-button,
.amount.pull-right span,
.sec-title h2:before ,
.sec-title h2:after,
.newsletter:before,
.newsletter,
.newsletter-btn,
.donate-us-box span.amount-figures.coloured,
.testimonial-color,
#prev:hover,
#next:hover,
.need,
.our-project-box .row > div:hover .icon-box,
.collected > span,
.welcome-box ,
.pagi:hover,
.form-button,
.event-post-image span,
.search-button,
.sidebar-title > h4:after,
.pagination > li > a:hover, 
.pagination > li > span:hover, 
.pagination > li > a:focus, 
.pagination > li > span:focus,
.search-tabs li.active a,
.search-tabs li.active a:hover,
.search-tabs li.active a:focus,
.cart-btn,
.accordion_toggle.current > a span,
#check > span,
.reply:hover,
.post-meta li > span,
.highlight > span ,
.coloured-invert,
.progress.pattern .progress-bar,
.price-table ul:hover li.table-head,
.price-table ul:hover li.table-btn a,
.social-icons.gray li:hover,
.controls > ul li.active,
.show-header,
.box > h4 ,
.box:after,
.carou-post > h4,
.item-detail > a,
.join-team a,
.shop .flex-direction-nav li a:hover,
.posts-carousel .flex-direction-nav li a:hover,
.amount-btns > a.selected,
.cause-box.donate-drop-btn:hover:before,
.cause-box.donate-drop-btn.down:before,
.stories-carousel .flex-direction-nav li a:hover,
button.favorite-btn:hover,
.full-title,
.short-desc > a,
.short-desc > ul li a:hover,
.sponsor-desc > a,
.news-img:before,
.option-combo > ul li a.selected,
.service > a,
.menu #menu-navigation li ul li ul li:hover,
.header-btn,
header.header3 #menu-navigation > li:hover,
header.header3 #menu-navigation li ul li:hover,
#menu-navigation li ul li a span,
.our-cause-img:before,
.our-cause-img:after,
.our-cause-detail > a,
.fancy-cause-hover > span a,
.slide-donate2,
.slide-icon,
.slide3-subtitle,
.slide4-subtitle{
	background-color:#e76e66;
}
.message-box-title > span,
.countSeconds,
.welcome-box span{
	background-color:#ce4e45;
}
.menu ul li ul,
.message-form,
.message-form,
.ls-container,
.sidebar-title,
.accordion_toggle.current > a,
.order-reveived,
.theme-tabs .nav li.active a,
.theme-tabs .nav li.active a:hover,
.theme-tabs .nav li.active a:focus,
.menu ul li ul li ul,
.box {
	border-color:#e76e66;
}
.sec-title h2 span,
.meta span i,
.needed-amount > h5 i,
.footer-widget-title h4 span,
.our-causes-hover span i,
.our-causes-hover span.needed-amount,
.story > h6 i,
.member-intro > span,
.about-charity-desc.col-md-7 li h6,
.page-title h1 span,
label span,
.form p span,
.contact-info .contact-details li span i,
.sidebar-title > h4 span,
.sidebar-list li a:hover,
.error-page h2,
.error-page-search a,
.search-result h3 span,
.cart-table li > .product > h6,
.cart-total span,
.cloud-tags a:hover,
.featured-products .col-md-4 > a,
.featured-products .col-md-4 > h6 i,
.order-reveived p strong,
.order-reveived a,
.gallery-tabs li.active a,
.gallery-tabs li.active a:hover,
.gallery-tabs li.active a:focus,
blockquote span,
.comments li  .comment i span,
.post-meta > li p span ,
.theme-tabs .nav li.active a,
.theme-tabs .nav li.active a:hover,
.theme-tabs .nav li.active a:focus,
.theme-list li i,
.logo h1,
.coloured,
.port-desc > h4,
.donate-message > p span,
.upcoming-event > h5,
.upcoming-event li .icon-pencil,
.sec-heading h2 strong,
.designation,
span.title-icon,
.featured-details > a,
header.header2 #menu-navigation > li:hover > a,
header.header2 #menu-navigation > li.active > a,
.header-event .count-down span.countdown-row span.countdown-amount,
.search-box.white:before,
#menu-navigation ul.mega-menu2 > li:hover > a,
header.header3 #menu-navigation li ul li:hover > a,
.our-cause-detail > span a,
.our-cause-detail > i span,
.fancy-cause-intro > span strong,
.fancy-cause-intro > i a,
.fancy-cause-hover > span strong,
span.slide1 i,
h3.slide2 span,
h3.slide3 i,
h4.slide3 span,
h5.slide3 span,
.slide4 i,
.slide5 span,
.slide5-title span,
.slide3-subtitle2 i{
	color:#e76e66;
}

.causes-pagi:hover,
.counter,
.flickr-images > a:before,
.event-post-image:before,
.gallery .col-md-4 > a:before,
.gallery-image > span,
.image-lists ul > li a:before,
.image-lists ul > li .video-popup:before,
.post-image:before,
.causes-single ul.nav li a:before,
.nav.profile-tabs li a:before{
    background-color:rgba(231, 110, 102, 0.9);
}
.event-post-image:after{
    border-bottom-color:rgba(231, 110, 102, 0.9);
}


.about-charity-desc.col-md-7 ul li:hover{
    background:url("../images/hexagon-light-pink.png") no-repeat scroll 0 0 transparent;
}
.sidebar-list li a:hover {
    background:url("../images/list-arrow-light-pink.png") no-repeat scroll 34px center #FCFCFB;
}
.error-page-search a,
.order-reveived a {

    background:url("../images/link-arrow-light-pink.png") no-repeat scroll right center transparent;
}